*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aqua;
    header{
        background-color: $firstColor;
        nav{
            width: 40%;
            div{
                background-color: $firstColor;
                div{
                    width: 100%;
                }
            }
        }
        article{
            height: 100px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    main{
        background-color: #ffffff;
        section{
            div.centerFlex{
                justify-content: space-evenly;
            }
        }
        section.imgContainer{
            height: 300px;
            width: 300px;
        }
    }
    footer{
        background-color: $firstColor;
    }
}
//Nav propiedades colors
.navbar-nav{color:$fontColor;}
.navbar-nav{color: $fontColor;}
.navbar-brand{color: $fontColor;}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{color: $fontColor;}
.nav-link{color: $fontColor;}
.nav-link.disabled, .nav-link:disabled{color: $fontColor;}
.navbar{padding: 0px;}
.centerFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.imgContainer{
    width: 100%;
    height: 100%;
    object-fit: cover;
}